<div class="container">
    <div class="title">
        <h1>Lista de Tarefas</h1>
    </div>
    <div class="row justify-content-between">
        <div class="col-6">
            <app-task-list #pending (action)="addOnDone($event)" title="Pendentes"></app-task-list>
        </div>
        <div class="col-6 ">
            <app-task-list #done (action)="addOnPending($event)" title="Concluídos" [showWithoutTask]="false" [showAddTask]="false" [isCancel]="true"></app-task-list>
        </div>
    </div>
</div>