/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
html {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 10px;
    color: #586069;
    scroll-behavior: smooth;
}

body {
    background-color: #FAFAFA !important;
    padding: 32px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-variant: small-caps;
    letter-spacing: 0.2rem;
}

button {
    font-size: 1.6rem !important;
    padding-left: 1.6rem !important;
    padding-right: 1.6rem !important;
    text-transform: uppercase !important;
}

.form-control,
.card {
    font-size: 1.4rem !important;
    background-color: #fff !important;
}